$body: #161616;
$primaryBackgroundHolder: #0c0c0c;
$primaryBackground: #000;

$primaryBackgroundBorder: #575757;

:root {
  color-scheme: light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea {
  border: none;
  outline: none;
  background: none;
}

body {
  background: $body;
}

.overlap {
  border-radius: 4px;
  background: $primaryBackgroundHolder;
  position: relative;

  &::before {
    content: "";
    border-radius: 4px;
    background: $primaryBackground;
    position: absolute;
    inset: 4px;
    z-index: 0;
  }

  > * {
    position: relative;
  }
}

.overlay {
  backdrop-filter: blur(12px);
  background: rgba(black, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
}

/* Header Start */
header {
  width: calc(100vw - 68px);
  margin: 4px 0 0 64px;
}

header.global {
  height: 56px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  button:nth-last-child(3) {
    margin: 0 0 0 auto;
  }

  button:not(:last-child) {
    padding: 6px;
    border-radius: 10px;
    background: #161616;
    display: flex;
  }

  button:last-child {
    border: 2px solid white;
    border-radius: 10px;
    display: flex;

    img {
      width: 32px;
      height: 32px;
      border-radius: inherit;
    }
  }
}

header.editor {
  height: 48px;
  display: flex;
  gap: 4px;
}

header.editor > div:first-child {
  flex: 1;
}

header.editor > div:last-child {
  width: 320px;
}
/* Header End */

/* SideBar START */
.sidebar {
  min-width: 56px;
  height: calc(100vh - 8px);
  padding: 4px;
  display: flex;
  position: absolute;
  inset: 4px auto 4px 4px;
  transition: width 200ms ease;
  z-index: 1;

  &.collapse {
    width: 56px;
  }

  &.expand {
    width: 270px;
  }
}

.sidebar > div {
  position: relative;
  z-index: 1;
}

.sidebar > div:first-child {
  width: 48px;
  padding: 8px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  > a:first-child {
    width: 40px;
    height: 40px;
    margin: 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button:not(:last-child):not(:nth-last-child(4)) {
    margin: 0 0 4px;
  }

  .button:nth-last-child(4) {
    margin: auto 0 4px;
  }
}

.sidebar > div:nth-child(2) {
  width: 210px;
  padding: 8px 4px 4px;
  overflow: hidden;

  > a {
    /* TODO: Remove it later */
    height: 40px;
    margin: 0 0 24px;
    display: flex;
    align-items: center;

    img {
      height: 32px;
      filter: invert(1);
    }
  }

  > div {
    animation: blink 350ms ease;
  }

  h4 {
    font: 600 12px "Segoe UI";
    color: #3f3f3f;
    margin: 0 0 8px;
  }

  nav {
    a {
      white-space: nowrap;
      height: 32px;
      padding: 0 4px;
      border-radius: 4px;
      display: block;
    }

    a:not(:last-child) {
      margin: 0 0 4px;
    }
  }

  nav:not(:last-child) {
    margin: 0 0 24px;
  }

  a:not(:has(svg)),
  span {
    font: 14px/32px "Segoe UI";
  }

  svg {
    width: 16px;
    height: 16px;
    margin: 0 8px 0 0;
    translate: 0 3px;
  }
}
/* SideBar End */

/* Common Main Start */
main {
  width: calc(100vw - 68px);
  margin: 4px 0 0 64px;
}

main.global {
  height: calc(100vh - 68px);
}

main.editor {
  height: calc(100vh - 60px);
}
/* Common Main Start */

/* PAGE START */

/* Homepage START*/
.homepage {
  display: flex;
  gap: 4px;
}

.homepage > div:first-child {
  flex: 1;
}

.homepage > div:last-child {
  width: 400px;
}
/* Homepage END*/

/* Editor START */
main.editor {
  display: flex;
  gap: 4px;
}

main.editor > div:first-child {
  flex: 1;
}

main.editor > div:last-child {
  width: 320px;
  padding: 4px;
  display: flex;
  flex-direction: column;

  > div:first-child {
    height: 40px;
    border-bottom: 1px solid $primaryBackgroundHolder;
    display: flex;
    align-items: center;
    overflow: hidden;

    button {
      flex: 1;
      font: 14px "Segoe UI";
      color: #4f4e4e;
      height: 100%;
      padding: 0 14px;

      &:first-child {
        border-radius: 4px 0 0 0;
      }

      &:last-child {
        border-radius: 0 4px 0 0;
      }

      &:hover {
        color: #aaa;
      }

      &.active {
        color: white;
        background: #ffffff10;
      }
    }
  }

  &.Data {
    > div:nth-child(2) {
      flex: 1;
      overflow: hidden scroll;
    }

    > div:last-child {
      height: 32px;
      border: 1px solid $primaryBackgroundBorder;
      border-radius: 0 0 4px 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;

      button {
        flex: 1;
        height: 100%;
        transition: background 350ms ease;

        &:hover,
        &.active {
          background: $primaryBackgroundHolder;
        }
      }
    }
  }
}
/* Editor END */

/* File Manager Start */
main.file-manager {
  height: calc(100vh - 68px);
  display: flex;
  gap: 4px;
}

main.file-manager > div {
  height: 100%;
  padding: 4px;
}

main.file-manager > div:first-child {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  > div:first-child {
    flex: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    h4 {
      margin: 0 0 4px;
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        font: 500 13px "Segoe UI";
      }

      svg,
      img {
        width: 16px;
        height: 16px;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    button {
      width: 100%;
      height: 28px;
      padding: 0 16px;
      border: 1px solid transparent;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 4px;
      transition: all 350ms ease;
      transition-property: border, background;

      img,
      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        border-color: $primaryBackgroundBorder;
        background: $primaryBackgroundHolder;
      }
    }

    span {
      font: 13px "Segoe UI";
    }
  }

  > div:last-child {
    padding: 8px 12px;
    border-top: 2px solid $primaryBackgroundHolder;
  }

  img {
    width: 64px;
    height: 64px;
  }

  h2 {
    font: 500 14px "Segoe UI";
    margin: 4px 0;
  }

  p {
    font: 12px/16px "Segoe UI";
    color: #555555;
  }
}

main.file-manager > div:nth-child(2) {
  flex: 1;
}

main.file-manager > div:last-child {
  width: 320px;
}

/* File Manager End */

/* PAGE END */

/** Components */

/* File Explorer */
div.file-explorer {
  width: 90vw;
  height: 90vh;
  padding: 1px;
  border-radius: 8px;
  background: $body;
  display: flex;
  gap: 4px;
  position: relative;

  .overlap {
    border-radius: inherit;
  }
}

div.file-explorer > div {
  height: 100%;
  padding: 4px;
}

div.file-explorer > div:first-child {
  width: 240px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  > div:first-child {
    flex: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden scroll;

    h4 {
      margin: 0 0 4px;
      display: flex;
      align-items: center;
      gap: 4px;

      span {
        font: 500 13px "Segoe UI";
      }

      svg,
      img {
        width: 18px;
        height: 18px;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    button {
      width: 100%;
      height: 28px;
      padding: 0 16px;
      border: 1px solid transparent;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 4px;
      transition: all 350ms ease;
      transition-property: border, background;

      img,
      svg {
        width: 16px;
        height: 16px;
      }

      &:hover {
        border-color: $primaryBackgroundBorder;
        background: $primaryBackgroundHolder;
      }
    }

    span {
      font: 13px "Segoe UI";
    }
  }

  > form {
    padding: 8px;
    border: 1px dashed #aaa;
    border-radius: 0 0 4px 4px;
    background: $body;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    img {
      width: 64px;
      height: 64px;
      filter: grayscale(1);
    }

    span {
      font: 500 14px "Segoe UI";
    }

    input {
      position: absolute;
      inset: -1px;
      opacity: 0;
      cursor: pointer;
    }
  }
}

div.file-explorer > div:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;

  > div:first-child {
    height: 40px;
    padding: 8px 12px;
    border-bottom: 1px solid #242424;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    h3 {
      font: 13px "Segoe UI";
    }

    img {
      width: 24px;
      height: 24px;
      margin: -5px 0 0;
    }

    button {
      padding: 4px;
      border: 1px solid #ffffff20;
      border-radius: 50%;
      background: #ffffff10;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 12px;
        height: 12px;
      }
    }

    h4 {
      font: 500 14px "Segoe UI";
      margin: 0 0 8px;
    }
  }

  > div:last-child {
    flex: 1;

    > div {
    }
  }
}

/* Buttons START */
.button.onlyIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Buttons END */

/* Input START */
.input.regular {
  display: flex;
  flex-direction: column;
  gap: 4px;

  label {
    font: 500 12px "Segoe UI";
  }

  input {
    height: 31px;
    padding: 3px 7px;
    border: 1px solid #30363d;
    border-radius: 3px;
    box-shadow: inset 0px 1px 0px 0px #0104093d;
    background: #0a0a0a;
    transition: all 350ms ease;
    transition-property: border, background;

    &:focus {
      border-color: #1f6feb;
      background: #0d1117;
    }
  }
}
/* Input END */

/* UI START */
.masonry {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 128px;
  gap: 4px;

  > button {
    border-radius: 4px;
    background: $primaryBackgroundHolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;

    img {
      width: 48px;
      height: 48px;
      filter: grayscale(1);
    }
  }

  > div {
    border-radius: 4px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    div {
      display: flex;
      align-items: center;
      gap: 4px;
      position: absolute;
      top: 4px;
      right: 4px;

      > button {
        width: 16px;
        height: 16px;
        border: 1px solid #7a7a7a;
        border-radius: 50%;
        backdrop-filter: blur(20px);
        background: rgba(black, 0.64);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

.upload-file {
  width: 100%;

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 2px;
  }
}
/* UI END */

.blink {
  animation: blink 350ms ease;
}

.scrollbar {
  /* WebKit Browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $primaryBackground;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primaryBackgroundBorder;
    border-radius: 10px;
    border: 3px solid $primaryBackground;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.gradient-border::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: -1;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  background: linear-gradient(
    60deg,
    hsl(224, 85%, 66%),
    hsl(269, 85%, 66%),
    hsl(314, 85%, 66%),
    hsl(359, 85%, 66%),
    hsl(44, 85%, 66%),
    hsl(89, 85%, 66%),
    hsl(134, 85%, 66%),
    hsl(179, 85%, 66%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: inherit;
  animation: moveGradient 4s alternate infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
    transition: opacity 350ms ease;
  }
  100% {
    opacity: 1;
    transition: opacity 350ms ease;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
